<h2> Fetching object </h2>
{% set myObject = pimcore_object(2) %}
{{ myObject.getTitle}}


<h2> Fetching Document </h2>
{% set myDoc = pimcore_document(3) %}
title: {{ myDoc.getTitle}} </br>
url: {{ myDoc}}



<h2> Fetching Asset </h2>
{% set myDoc = pimcore_asset(3) %}
url: {{ myDoc}} <br>
filename: {{ myDoc.getFilename}}
<img src="{{ myDoc}}"  height="30"/>

{# <h2> Fetching Action </h2>
This call the /custom/json action passing items:11 as parameter and print the result here
{{ pimcore_action('json', 'Custom', null, { items: 11 }) }} #}

</h2> Caching a part of the page </h2>
{% set cache = pimcore_cache("cache_key", 60, true) %}
{% if not cache.start() %}
    <h1>Even you refresh the page this date will remain the same</h1>
    {{ 'now'|date('y-m-d') }} v{{ 'now'|date('U') }}
    {% do cache.end() %}
{% endif %}


<h2> browser detection </h2>
{% if pimcore_device().isPhone() %}
    I'm a phone
{% elseif pimcore_device().isTablet() %}
    I'm a table
{% elseif pimcore_device().isDesktop() %}
    I'm a desktop device
{% endif %}

<h2> Parameters </h2>
{{ app.request.get("_dc") }}

<h2>Glossary </h2>
{% pimcoreglossary %}
My content PIMCore loves CMS
{% endpimcoreglossary %}

<h2> Placeholder </h2>
{% do  pimcore_placeholder('myplaceholder')
.setPrefix("<h3>")
.setPostfix("</h3>")
.setIndent(4)
.set("My content") %}


{{ pimcore_placeholder('myplaceholder') }}


<h2> HeadLink </h2>
{% do  pimcore_head_link({'rel' : 'icon', 'href' : '/img/favicon.ico'},"APPEND")  %}
 {% do pimcore_head_link().appendStylesheet("/my.css") %}

{{ pimcore_head_link()}}

<h2> append meta </h2>


{% do pimcore_head_meta().appendName('description', 'My SEO description for my awesome page') %}
{# adding addictional properties #}
{% do pimcore_head_meta().setProperty('og:title', 'my article title') %}
{% do pimcore_head_meta().setProperty('og:type', 'article') %}
{# appendHttpEquiv #}
{% do pimcore_head_meta().appendHttpEquiv('Content-Type', 'text/html; charset=UTF-8').appendHttpEquiv('Content-Language', 'en-US') %}

{{ pimcore_head_meta() }}


<h2> head scripts </2>
{% do pimcore_head_script().appendFile("/myscript.js") %}

{{ pimcore_head_script()}}

<h2> Conditional Head Style </2>
{% do pimcore_head_style().appendStyle("ie.css", {'conditional': 'lt IE 11'}) %}

{{ pimcore_head_style() }}

<h2> include a document </h2>
{# pimcore_inc('/MySnippet/') #}

{% do pimcore_inline_script().appendFile("/myscript.js") %}
{{ pimcore_inline_script() | raw }}

<h2>Navigation </h2>
{% set mainNavStartNode = document.getProperty('mainNavStartNode') %}
{% set navigation = pimcore_build_nav({
    active: document,
    root: mainNavStartNode
}) %}
{{ pimcore_render_nav(navigation) }}


<h2>include </h2>
{{ include("Default/include.html.twig", {'par':'value'}) }}
{# include "Default/include.html.twig"  #}


<h2>Translation </h2>
{% set message ="my-test-key" %} 
{{ message|trans }}


<h2> iterable blocks <h2>
{% for i in pimcore_iterate_block(pimcore_block('contentblock')) %}
    <h2>{{ pimcore_input('subline') }}</h2>
    {{ pimcore_wysiwyg('content') }}
{% endfor %}

<h2> Website key </h2>
{{ pimcore_website_config('mykey') }}

<h2> Thumbnail </h2>
{% set asset = pimcore_asset(3) %}
{{ asset.getThumbnail('MyThubnails').getHtml() | raw }}
<br>
{{ asset.getThumbnail({
    width: 50,
    format: 'png'
}).getHtml() | raw }}


<h2> Custom template helper </h2>

{# {{ timestamp("Y-m-d")}} #}