{% extends 'layout.html.twig' %}
{% block content %}



 <!-- Page Header -->
 <header class="masthead" style="background-image: url({{asset('bundles/app/img/home-bg.jpg')}}); height: 70px;">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            
            <span class="subheading"> </span>
          </div>
        </div>
      </div>
    </div>
  </header>


<div class="container">
    <div class="row">
        <div class="col-lg-3 order-3"> 
            {{ pimcore_image('image',{'width': '100%'} ) }}
        </div>
        <div class="col-lg-6 order-3">   
          <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Category:{{ pimcore_input('category') }}</a></li>
            </ol>
          </nav>                   
            <div ><h1> {{ pimcore_input('headline', {'width': 540}) }}</h1></div>
            <div>{{ pimcore_input('subheading', {'width': 700}) }}</div>            
            <div class="product-price"> <span>€ {{ pimcore_input('price') }}</span> <strike> <span style='color:black'>€ {{ pimcore_input('originalprice') }}<span> </strike> </div>
            <div>Produced by: {{ pimcore_input('producedby') }}</div>
            <div>Made in: {{ pimcore_input('madein') }}</div>  
            <hr>
            <div>
                    
                {# get root node if there is no document defined (for pages which are routed directly through static route) #}
            {% if not document is defined or not document %}
                {% set document = pimcore_document(1) %}
            {% endif %}      

            {% set childItems = pimcore_build_nav({
                active: document,
                root: document
            }) %}

          
               Available as:   
             
            {# later you can render the navigation #}
            {{ pimcore_render_nav(childItems) }}
            </div>          
         </div>
    </div>


 <div class="row">
  {{ pimcore_wysiwyg('body') }}
</div>

</div>

{% endblock %}