{% extends '@Blog/Layout/layout.html.twig' %}

{% block content %}

{% include '@Blog/Layout/header.html.twig' %}

<!-- Page Content -->
  <div class="container">

    <div class="row">
     
      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">{{article.getTitle()}}</h1>

        <!-- Author -->
        <p class="lead">
          by <a href="/blog/author{{article.getAuthor().getSlug()[0].getSlug()}}">{{article.getAuthor().getFirstName()}}</a>
        </p>

        <hr>

        <!-- Date/Time -->
        <p>Posted on {{article.getModificationDate() | date("F jS \\a\\t g:ia") }}</p>

        <hr>

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="{{article.getImage()}}" alt="">

        <hr>

        <!-- Post Content -->
        {{article.getContent() | raw}}  
        <hr>


      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">
         {% include 'BlogBundle:Widget:widget.html.twig' %}
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->


{% endblock %}
